<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XTChatDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0016C6CB1E839D6800202E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0016C6E41E839D6900202E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0016C6EF1E839D6900202E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
